<home-navbar>
  <app-carousel> </app-carousel>
  <div class="start-container">
    <h1 class="title">Bienvenido</h1>
    <button mat-raised-button color="accent" (click)="signUp()">
      Comenzar
    </button>
  </div>
  <div class="container">
    <app-card
      class="card"
      *ngFor="let card of cards"
      [title]="card.title"
      [subtitle]="card.subtitle"
      [imgUrl]="card.imgUrl"
      [alt]="card.alt"
      [content]="card.content"
    >
    </app-card>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</home-navbar>
