.container {
  display: flex;
  justify-content: space-evenly;
  margin: 5em;
}

.card {
  margin: 1.5em;
}

.start-container {
  color: #eeeeee;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -38%);
}

.title {
  font-weight: bold;
  font-size: 4.75rem;
  margin-bottom: 0.5em;
}

@media (max-width: 400px) {
  .title {
    font-size: 3.75rem;
  }
}

@media (max-width: 280px) {
  .title {
    font-size: 2.75rem;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    margin: 0;
    padding-bottom: 3em;
  }

  .card {
    width: 100%;
    margin: 2em 0;
  }
}
