<div class="container">
  <div class="image-container">
    <img
      src="https://avatars3.githubusercontent.com/u/60626791?s=460&u=d7d55d6c7c90eb03728f0cef56b7c6f73e84f377&v=4"
      alt="Kenneth's photo"
    />
  </div>
  <div class="text-container">
    <h2 class="title">Kenneth Toxcon</h2>
    <p>Jr. FullStack Web Developer</p>
    <ul>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>Node JS</li>
      <li>JavaScript</li>
    </ul>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
